-- combinational module -------------------------------------------------------

library ieee;
use ieee.std_logic_1164.all;

entity {{module-name}} IS
  port ({{ports}});
end {{module-name}};

architecture struct of {{module-name}} is
  -- node declarations
  {{{node-declarations}}}
begin
  -- each submodule is wired up here.
  {{{submodule-entity-instances}}}
  -- maybe-wire-input(s)
  {{{maybe-wire-input}}}
  -- maybe-wire-constants(s)
  {{{maybe-wire-constants}}}
  -- maybe-wire-output(s)
  {{{maybe-wire-output}}}

end struct;
