
    if {{signal}} /= {{{expected}}} then
      report "{{comment}}";
      report "TestNum {{testnum}}";
      report "expecting: {{{signal}}} = {{{show-expected}}}";
      report "got      : {{{signal}}} = " & {{{signal_to_string}}};
      stop(-1);
    else
      write(OUTPUT, "TEST {{testnum}}: PASSED" & LF);
    end if;

